@import "tailwindcss";

@font-face {
  font-family: "Lato";
  src: url("/fonts/Inter_18pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Inter_18pt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel";
  src: url("/fonts/Cinzel-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-cinzel {
  font-family: "Cinzel", serif;
}

body {
  /* background-color: #F0EFE7; */
  /* background-color: #FFFAFA; */
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color:#111;
  color:#e4e4e7;

  /* grid sutil
  background-image:
    linear-gradient(rgba(255,255,255,.035) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.035) 1px, transparent 1px);
  background-size: 52px 52px;
  background-position: -1px -1px; */

}
