@import "tailwindcss";

body {
  /* background-color: #F0EFE7; */
  /* background-color: #FFFAFA; */
  background-color:#111;
  color:#e4e4e7;

  /* grid sutil
  background-image:
    linear-gradient(rgba(255,255,255,.035) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.035) 1px, transparent 1px);
  background-size: 52px 52px;
  background-position: -1px -1px; */

}
